/* CSS PORTFOLIO BOOTSTRAP 
========================== */

/* Color Stock : */

/* Color Theme Swatches in Hex */
.Fashion-1-hex { color: #083A59; }
.Fashion-2-hex { color: #0D4C73; }
.Fashion-3-hex { color: #8C513B; }
.Fashion-4-hex { color: #BF8069; }
.Fashion-5-hex { color: #D9A38F; }

/* Color Theme Swatches in RGBA */
.Fashion-1-rgba { color: rgba(8, 58, 89, 1); }
.Fashion-2-rgba { color: rgba(12, 75, 114, 1); }
.Fashion-3-rgba { color: rgba(140, 80, 58, 1); }
.Fashion-4-rgba { color: rgba(191, 128, 105, 1); }
.Fashion-5-rgba { color: rgba(216, 162, 143, 1); }


/* NAVBAR 
=========*/


.bg-body-tertiary {
    background-color: rgba(8, 58, 89, 1)!important;
}

.navbar {
    margin: 1rem;

}

.navbar-brand {
    font-size: 2rem;
    color: white;
}

.navbar-nav a {
    text-transform: uppercase;
}


/* HOME BUTON */
.fa-solid {
    color: rgba(191, 128, 105, 1);
    padding-top: 1.5rem;
    border-bottom: 2px solid rgba(191, 128, 105, 1);
}

.nav-link {
    color: white;
    font-size: 1.5rem;;
}

a, .nav-link:hover {
    color: rgba(191, 128, 105, 1);
}
.nav-link, .fa-solid:hover {
    color: white;
}

.navbar, span {
    color: white;
}

.navbar-toggler-icon {
font-size: 1rem;
color: white;
}



/* HERO
======= */

.about {
    padding: 0;
}

/* SUB-HERO LEFT
============= */

.hero {
    padding: 1rem;
}

#about {
    padding-right: 1rem;
    padding-left: 0rem;
}

#sociaLink a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 6rem;
    z-index: 1;
}

/* SUB-HERO MIDDLE
============== */

#accordion {
    width: 80%;
    border-color: rgba(8, 58, 89, 1);
}

.accordion-button:not(.collapsed) {
    background-color: rgba(8, 58, 89, 1);
    color: white;
}

#apropos code {
    font-size: 1.3rem;
    color: black; 
}

#apropos {
    font-size: 1.1rem;
    color: black; 
}



.btn {
    background-color: rgba(191, 128, 105, 1);
    border-color: rgba(191, 128, 105, 1);
    margin: 0.5rem;
    z-index: 1;
    min-width: 175px;
    width: 15%;
    font-size: 1.2rem;
    font-weight: 700;;
}

.btn:hover {
    background-color: rgba(8, 58, 89, 1);
    color: white;
}



#techno i {
    text-decoration: none;
    font-size: 5rem;
    letter-spacing: 2rem;
}

.iconOtherColor {
    color: rgba(12, 75, 114, 1);
}

/* SUB-HERO RIGHT
============= */

.backgroundWrap {
    position: relative;
  }
  
  .backgroundWrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: linear-gradient(rgba(8, 58, 89, 0.5), rgba(216, 162, 143, 0.4)), url(ressources/photoTitle2-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .photoBackground {
    position: relative;
  }


/* TITLE SECTION 
================*/

.titleSection {
background-color: rgba(8, 58, 89, 1);
height: 3rem;
font-size: 2rem;
text-transform: uppercase;
color: white;
display: flex;
align-content: center;
margin: 0;
}


/* COLLABORATION
================ */

.logoCollaboration {
    padding-top: 3rem;
}

.card.mb-3 {
    max-width: 540px;
}

/* PROJECTS
========== */

.carousel-caption {
    background-color: rgba(8, 58, 89, 0.4);
    bottom: 0.5rem;
    }
    


/* CONTACT
========== */

#wrapCard {
    padding: 1rem;
}

.contactCard, a {
    text-decoration: none;
    font-size: 1.5rem;
}

.contactCard i {
    text-decoration: none;
    font-size: 1.5rem;
}

.btnFoot {
    font-size: 2.5em;
    min-width: 125px;
}


/* FOOTER
=========*/

#copyright {
    width: 5em;
    opacity: 0.3;
    font-size: 1em;
}



@media screen and (max-width:768px) {

nav .container-fluid {
    flex-direction: column;

}
}